language: android
android:
  components:
    - tools
    - build-tools-25.0.3
    - android-22
    - android-25
    - extra-android-m2repository
    - extra-android-support

before_script: 
    - chmod +x gradlew
