language: android
jdk: oraclejdk8
sudo: false

android:
  components:
    - platform-tools
    - tools

    - build-tools-28.0.3

    - android-28

    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-19


before_install:
  - yes | sdkmanager "platforms;android-26"

script:
    - ./gradlew assembleDebug
    
deploy:
  provider: releases
api_key:
  secure: f1fc8784f1674ca636bea83230d8647b9f7d312b
  file: $TRAVIS_BUILD_DIR/app/build/outputs/apk/debug/app-debug.apk
  skip_cleanup: true
  name: dev-build-$TRAVIS_TAG
  body: Automatic build of $TRAVIS_BRANCH ($TRAVIS_COMMIT) built by Travis CI on $(date +'%F %T %Z').
  prerelease: true
  overwrite: true
  target_commitish: $TRAVIS_COMMIT
on:
  branch: master
  tags: true

after_deploy:
  - rm -rf $TRAVIS_BUILD_DIR/app/build/outputs
