language: android
jdk: oraclejdk8
sudo: false

android:
  components:
    - platform-tools
    - tools

    - build-tools-28.0.3

    - android-28

    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-19


before_install:
  - yes | sdkmanager "platforms;android-26"

script:
    - ./gradlew assembleDebug
    
deploy:
  provider: releases
  api_key:
    secure: 3aee349907b6ca684950d4d827e310849f1c4a79
    file: app/build/outputs/apk/app-release.apk
  skip_cleanup: true
on:
    repo: sean208208/github_test
    branch: master
    tags: true

after_deploy:
  - rm -rf $TRAVIS_BUILD_DIR/app/build/outputs
